CHANNEL_ID = -xxxxxxx # TG Channel ID
CHANNEL_MESSAGE_ID = xxxx # TG Post ID : https://t.me/{channel}/{post_id}

TOKEN = "xxxxxx" # Create with BotFather in Telegram

# Get things below from https://developer.spotify.com/dashboard

CLIENT_ID = 'c751220534f24115a7fdd13cf0d6eb60'
CLIENT_SECRET = 'a3d2ed18bf7d49edbc82b447a1fd0493'
REDIRECT_URI = 'https://127.0.0.1:8080/callback'
SCOPE = 'user-read-playback-state user-read-private'

TIMER_C = '10' Refresh every N seconds